<h1>Your Cart</h1>

<table width="100%">
<tr>
	<th></th>
	<th>Qty</th>
	<th>Name</th>
	<th>Price</th>
</tr>
<%= render :partial => 'cart_item', :collection => @cart.cart_items %>
<tr>
	<td style="border-bottom: 1px solid #DDD;" colspan="4"></td>
</tr>
<tr>
	<td colspan="3" style="text-align:right;"></td>
	<td><p>Total Items: <b><%= @cart.total_items %></b></p>
		<p>Total Price: <b><%= number_to_currency(@cart.total_price) %></b></p>
		<%= button_to 'Checkout', :action => :checkout %>
	</td>
</tr>
</table>

<p><%= button_to 'Keep Shopping', :action => :index %></p>
<br/>
<p><%= button_to 'Empty Cart', :action => :empty_cart %></p>