%h1 Your Product List
- for p in @products
  %div.entry
    = link_to(!p.product_images.empty? ? image_tag(p.product_images.first.photo.url(:small)) : image_tag("no_image_small.jpg", :class => 'thumbnail'), :action => 'show', :id => p)
    %h3= link_to h(p.title), :action => 'show', :id => p
    = truncate(p.description, :length => 100)
    %br/
    %span.price= number_to_currency(p.price)
    %div
      - form_tag({:action => 'add_to_cart', :id => p }) do
        = submit_tag "Add to Cart"