<%= link_to "Back", :action => 'index' %>

<h1>Product Details</h1>

<% unless @product.product_images.blank? %>
	<table>
	<tr>
			<td valign="top" id="image_frame" align="left">
				<div id="images">
					<% if @product.product_images.count.blank? %>
						<img id="large-image" src="/images/no_image.jpg" />
					<% else %>
						<div style="padding-bottom:3px;"><%= image_tag(@product.product_images.first.photo.url(:large), :id => 'large-image', :alt => "", :title => "") %></div>
					<% end %>
					<% unless @product.product_images.count.blank? %>
						<% if @product.product_images.count > 1 %>
							<% @product.product_images.each_with_index do |image, i| %>
								<%= image_tag image.photo.url(:small) , :class => "#{'active ' if i == 0}small-image", :id => "small-image-#{i+1}", :onclick => 'swap_image(this);return(false);' %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</td>
	</tr>
	</table>
	<br />
<% end %>




<h3><%=h @product.title %></h3>
<div><%= @product.description %></div>
<div class="price"><%= number_to_currency(@product.price) %></div>

<% form_tag({:action => 'add_to_cart', :id => @product }) do %>
  <%= submit_tag "Add to Cart" %>
<% end %>