<h1><%= params[:archived] ? "Archived" : "Active" %> Listing orders</h1>

<div align="right">
	<%= link_to "Active Orders (#{Order.active.count})", {:archived => nil} if params[:archived] %>
	<%= link_to "Archived Orders (#{Order.inactive.count})", {:archived => true} unless params[:archived] %>
</div>

<table class="tabular" width="100%">
<tr>
	<th>Name</th>
	<th>Address</th>
	<th>Email</th>
	<th>Pay type</th>
	<th>Shipped</th>
	<th colspan="3"></th>
</tr>
<% if @orders.blank? -%>
	<tr>
		<td colspan="8" style="color:gray;font-style:italic;padding:10px 0;"><em>No orders found</em></td>
	</tr>
<% else -%>
		<% @orders.each do |order| %>
			<tr>
				<td><%=h order.name %></td>
				<td><%=h order.address %></td>
				<td><%=h mail_to order.email, order.email, :encode => 'hex' %></td>
				<td><%=h order.pay_type %></td>
				<td><%=h order.shipped_on ? order.shipped_on.strftime("%m/%d/%Y") : "No" %></td>
				<td><%= link_to 'Show', admin_order_path(order) %></td>
				<td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
				<td><%= link_to 'Destroy', admin_order_path(order), :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
<% end -%>
</table>

<br/>
<%= page_entries_info @orders %>
<%= will_paginate @orders %>
