<h1>Contact Us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean luctus, risus viverra fermentum porttitor, nibh ante ultrices sapien, vel scelerisque risus libero in mauris. Sed ornare faucibus turpis at posuere. Nulla vel eros justo. Donec fringilla tristique erat at luctus.</p>

<p>Email form sample using Gmail SMTP</p>

<%= form_tag({}) %>
<table class="form">
<tr>
	<th><%= label_tag :name, "Name" %>:</th>
	<td><%= text_field_tag :name, nil, :size => 30 %></td>
</tr>
<tr>
	<th><%= label_tag :email, "Email" %>:</th>
	<td><%= text_field_tag :email, nil, :size => 30 %></td>
</tr>
<tr>
	<th class="text_label"><%= label_tag :message, "Message" %>:</th>
	<td><%= text_area_tag :message, nil, :size => "50x5" %></td>
</tr>
<tr>
	<th></th>
	<td><%= submit_tag 'Submit' %></td>
</tr>
</table>
</form>