<% form_for(@category, :url => admin_category_path) do |f| -%>
<%= hidden_field_tag :parent, params[:parent] if params[:parent] %>
<%= f.error_messages %>
<p>
  <%= f.label :Name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 4 %>
</p>
<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>