<% form_for(@product, :url => url, :html => {:multipart => true}) do |f| -%>
<%= f.error_messages %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 4 %>
</p>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>

<% f.fields_for :product_images do |builder| %>
	<p>
		<%= builder.label :photo, "Image File" %>
		<%= builder.file_field :photo %>
	</p>
<% end -%>

<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>