<% form_for(@product, :url => url) do |f| -%>
<%= hidden_field_tag :category, params[:category] %>
<%= f.error_messages %>
<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 4 %>
</p>
<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.submit 'Submit' %>
</p>
<% end %>