<div id="product-list">
	<h1>Listing products</h1>
	<p><%= link_to 'New product', new_admin_product_path, :class => 'add_link' %></p>
	<table width="100%">
	<% @products.each do |product| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td class="list-image">
				<% unless product.product_images.empty? -%>
					<%= link_to image_tag(product.product_images.first.photo.url(:small)), admin_product_path(product) %>
				<% else -%>
					<%= link_to image_tag("no_image_small.jpg", :class => 'thumbnail'), admin_product_path(product) %>
				<% end -%></td>
			<td class="list-description">
				<dl>
					<dt><%=h product.title %></dt>
					<dd><%=h truncate(product.description.gsub(/<.*?>/,''), :length => 140) %></dd>
				</dl></td>
			<td class="list-actions">
				<div><%= link_to 'Show', admin_product_path(product), :class => 'list-action-link' %></div>
				<div><%= link_to 'Edit', edit_admin_product_path(product), :class => 'list-action-link' %></div>
				<div><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete, :class => 'list-action-link' %></div>
		</tr>
	<% end %>
	</table>
	<br/>
	<%= page_entries_info @products %>
	<%= will_paginate @products %>

</div>