<div id="product-list">
	<h1>Listing products <%= "(#{@category.name})" if @category %></h1>

	<% if @category -%>
		<% if @category.is_childless? -%>
			<p><%= link_to 'New product', {:action => 'new', :category => params[:category]}, :class => 'add_link' %></p>
		<% end -%>
	<% end -%>

	<table width="100%">
	<% @products.each do |product| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td class="list-image">
				<% unless product.product_images.empty? -%>
					<%= link_to image_tag(product.product_images.first.photo.url(:small)), admin_product_path(product) %><br/>
					<small>(<%= product.product_images.count %> images)</small>
				<% else -%>
					<%= link_to image_tag("no_image_small.jpg", :class => 'thumbnail'), admin_product_path(product) %>
				<% end -%></td>
			<td class="list-description">
				<dl>
					<dt><%=h product.title %></dt>
					<dd><%=h truncate(product.description.gsub(/<.*?>/,''), :length => 140) %></dd>
				</dl></td>
			<td class="list-actions">
				<div><%= link_to 'Show', admin_product_path(product), :class => 'list-action-link' %></div>
				<div><%= link_to 'Edit', edit_admin_product_path(product), :class => 'list-action-link' %></div>
				<div><%= link_to 'Destroy', admin_product_path(product), :confirm => 'Are you sure?', :method => :delete, :class => 'list-action-link' %></div>
				<div><%= link_to 'Images', new_admin_product_image_path(:id => product), :class => 'list-action-link' %></div>

		</tr>
	<% end %>
	</table>
	<br/>
	<%= page_entries_info @products %>
	<%= will_paginate @products %>

</div>