<%= image_tag(@product.product_images.first.photo.url(:large)) %>

<p>
  <b>Title:</b>
  <%=h @product.title %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @product.price %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> | <%= link_to "Back", :action => 'index' %>