<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Sample Online Store</title>
  <%= stylesheet_link_tag "global", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'scriptaculous' %>  
	<%= javascript_include_tag 'builder' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'modalbox' %>
</head>
<body id="store">
  <div id="main_heading">
    <div id="logo_title">
      Sample Online Store
    </div>
    <div class="clear"></div>
  </div>  
  <div id="columns">
    <div id="side">
      <% if session[:user_id] -%>
      <ul id="navigation">
        <li><%= link_to "Orders (#{Order.active.count} active)", :controller => '/admin/orders' %></li>
        <li>&nbsp;</li>
        <li><%= link_to "Products", :controller => '/admin/products' %> (<%= link_to "+Add", :controller => '/admin/products', :action => 'new' %>)</li>
        <li><%= link_to "Manage Users", :controller => '/admin/users' %></li>
        <li><%= link_to 'Enter Store', {:controller => '/public/main'}, :target => '_blank' %></li>
        <li>&nbsp;</li>
        <li><%= link_to "Logout", :controller => '/admin/main', :action => 'logout' %></li>
      </ul>
      <% end -%>
    </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
    </div>
  </div>
</body>
</html>