!!!

%html
  %head
    %title Sample Online Store
    = stylesheet_link_tag "global", :media => "all"
    = javascript_include_tag :defaults

  %body#store

    #main_heading
      #logo_title Sample Online Store

      - unless params[:action] == 'cart'
        #cart_info
          - unless @cart.cart_items.empty?
            Total Items:
            %b
              = @cart.total_items
              %br/
            Total Price:
            %b
              = number_to_currency(@cart.total_price)
              %br/
              = link_to "View Cart", :controller => '/public/store', :action => 'cart'

      .clear

    #columns
      #side
        = link_to 'Home', :controller => '/public/main'
        .product_categories
          - Category.roots.each do |a|
            .first_tier= link_to a.name, :controller => '/public/store', :category => a
            - a.children.each do |b|
              .second_tier= link_to b.name, :controller => '/public/store', :category => b
              - b.children.each do |c|
                .third_tier= link_to c.name, :controller => '/public/store', :category => c
                - c.children.each do |d|
                  .fourth_tier= link_to d.name, :controller => '/public/store', :category => d

        %ul#navigation
          %li= link_to 'About Us', :controller => '/public/main', :action => 'about_us'
          %li= link_to 'Contact Us', :controller => '/public/main', :action => 'contact_us'
        
      #main
        - if flash[:notice]
          #notice
            = flash[:notice]
        = yield :layout